<h1>Inbox</h1>

<div class="ui grid">
  <div class="four wide column">
    <a href="<%= new_message_path %>"><button class="ui large red button">New Message</button></a>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui grid">
  <div class="four wide column">
    <div class="ui large vertical menu">
      <a href="<%= received_messages_path %>" class="active green item">
        Inbox
        <div class="ui green left pointing label">1</div>
      </a>
      <a href="<%= sent_messages_path %>" class="item">
        Sent
        <div class="ui left pointing label">10</div>
      </a>
    </div>
  </div>
  <div class="twelve wide column">
    <% if @messages.empty? %>
      <div class="ui yellow message">Aww. No messages. No friends?</div>
    <% end %>
    <table class="ui large celled green table">
      <thead>
        <tr>
          <th class="three wide">Sender</th>
          <th class="five wide">Subject</th>
          <th class="four wide">Sent at</th>
          <th class="four wide">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr class=<%= message.unread ? "positive" : "" %>>
            <td><%= message.sender %></td>
            <td><%= message.subject %></td>
            <td><%= message.created_at.strftime("%d %b %Y %l:%M %p") %></td>
            <td class="center aligned">
              <% if message.unread %>
                <a href="<%= message_path(message) %>"><button class="ui active green button">Unread</button></a>
              <% else %>
                <button class="ui button" onclick="infoDisplay()">Read</button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="ui basic modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Read Messages
  </div>
  <div class="content center aligned">
    <p>Your message can only read once. Be careful next time</p>
  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      OK
    </div>
  </div>
</div>

<script type="text/javascript">
function infoDisplay() {
  $('.ui.basic.modal')
    .modal('setting', 'transition', 'scale')
    .modal('show')
  ;
}
</script>