<h1>Inbox</h1>

<div class="ui grid">
  <div class="four wide column">
    <button class="ui basic red button"><%= link_to 'New Message', new_message_path %></button>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical menu">
      <a href="#" class="active green item">
        Inbox
        <div class="ui green left pointing label">1</div>
      </a>
      <a href="#" class="item">
        Sent
        <div class="ui left pointing label">10</div>
      </a>
    </div>
  </div>
  <div class="twelve wide column">
    <% if @messages.empty? %>
      <div class="ui yellow message">Aww. No messages. No friends?</div>
    <% end %>
    <table class="ui celled table">
      <thead>
        <tr>
          <th class="four wide">Sender</th>
          <th class="six wide">Subject</th>
          <th class="four wide">Time</th>
          <th class="two wide">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr class=<%= message.unread ? "positive" : "" %>>
            <td><%= message.sender || "No body no body but you" %></td>
            <td><%= message.subject %></td>
            <td><%= message.created_at.strftime("%b %d, %Y") %></td>
            <td class="center aligned">
              <button class="ui basic green button">
                <% if message.unread %>
                  <%= link_to "Unread", message_path(message) %>
                <% else %>
                  Read
                <% end %>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>