<h1>New</h1>

<%= render 'messages/header' %>

<div class="ui grid">
  <div class="four wide column">
    <%= render 'messages/sidemenu', received: true %>
  </div>
  <div class="twelve wide column">
    <h1 class="ui header"><%= @message.subject %></h1>
    <div class="ui divider"></div>
    <h3 class="ui header">
      <div class="ui sub header">From: 
        <div class="ui green label"><%= @message.sender %></div>
        <div class="ui basic label"><%= @message.created_at.strftime("%b %d, %Y") %></div>
      </div>
    </h3>
    <div class="ui large message">
      <p><%= @message.body %></p>
      <% if @message.image.present? %>
        <p><%= image_tag(@message.image, height: 320, width: 240) %></p>
      <% end %>
    </div>
  </div>
</div>


