<div class="ui large green inverted menu">
  <a class="ui active item" href=<%= root_path %> >TinyChat</a>
  <a class="ui item" href=<%= users_path %> >Users</a>
  <div class="right menu">
    <% if current_user %>
      <a class="ui active item"><%= current_user %></a>
      <%= link_to "Inbox", messages_path, class: 'ui item' %>
      <%= link_to "Friends", user_path(id: current_user.id), class: 'ui item' %>
      <%= link_to "Sign Out", sign_out_path, method: 'delete', class: 'ui item' %>
    <% else %>
      <%= link_to 'Sign Up', new_user_path, class: 'ui item' %>
      <%= link_to 'Sign In', new_session_path, class: 'ui item' %>
    <% end %>
  </div>
</div>